# LangChain packages
langchain
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
chromadb

# Local LLM (Option 2)
transformers
torch
accelerate

# Backend / API
fastapi
uvicorn
requests

# Frontend
gradio
